<header>
  <div class="navbar-fixed">

<nav class="green">
<div class="nav-wrapper">
  <div class="container">
  
    <ul id="nav-mobile" class="left">
      <li><a [routerLink]="['/product-form']">Laptos</a></li>
        <li><a>Pcs</a></li>
      <li><a>Accesorios</a></li>

      <li><a>Perifericos</a></li>
      <li><a>Gamers Accesorios</a></li>
      
     <li><form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        </div>
      </form>
    </li>
    <li><a >Categorias</a></li>

  </ul>
  </div>
</div>


</nav>


</div>
</header>
