<!--<form (ngSubmit)="addProduct()">
  <input type="text" name="category" [(ngModel)]="product.category"> 
  <input type="text" name="description" [(ngModel)]="product.description">
  <input type="text" name="name" [(ngModel)]="product.name">
  <input type="number" name="price" [(ngModel)]="product.price" step="0.01">

  <button type="submit">
    Save
  </button>

</form>-->
<p></p>
<form action="">
  <div class="container">
    <label for="">Agregar:</label>
    <input type="text" placeholder="poner algo">
    <button class="btn btn-primary">Agregar</button>
  </div>
</form>