
            
     
<div class = "container">
    <font size = 6 color ="blue"  > <p > NUEVAS ADQUISICIONES</p></font>
<div class="row">
      <div *ngFor = "let product of products$ | async" class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img  [src]="product.image">
          <span style="color:rgb(248, 81, 4)" class="card-title"><b>
            {{product.name}}</b></span>
        </div>
        <div class="card-content">
          <p>
            <b>Precio: </b>${{product.price}}</p>
        </div>
        <div class="card-action">
          <a href="#">Comprar</a>
          <a href="#">Añadir carrito</a>
        </div>
      </div>
      
    </div>
  </div>
</div>




