<div class = "container">
<div class="row">
    <div *ngFor = "let product of products" class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img [src]="product.image">
          <span style="color:black" class="card-title"><b>{{product.name}}</b></span>
        </div>
        <div class="card-content">
          <p>
            <b>Precio: </b>${{product.price}}</p>
        </div>
        <div class="card-action">
          <a href="#" class="btn">Comprar</a>
          <p></p>
          <a href="#" class="btn">Añadir carrito</a>
          <p></p>
          <a href="" class="btn">Ver Detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>