<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <h4>Cart</h4>
    </div>
    <div class="card-body">
    <table class="highlights" class="centered table-hover">
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Product Name</th>
          <th>Single Price $</th>
          <th>Total Price $</th>
          <th>Remove</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let product of products">
          <td>#</td>
          <td>
            <span ng-show="sortType == 'name'" class="fa fa-caret-down">
              {{product.name}}
            </span></td>
          <td>{{product.price}}</td>
          <td>Quantity x Price</td>
          <td><a (click)="removeProduct(product)"><i class="material-icons">delete</i></a></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
<p></p>
<h1>TOTAL {{totalPrice}}</h1>
<a href="/"><button class="btn">STEP BACK</button></a>
<a><button class="btn my-button-style">RESTART</button></a>
<a><button class="btn my-button-style">BUY</button></a>