<table class="highlights" class="centered">
  <thead>
    <tr>
      <th>Quantity</th>
        <th>Product Name</th>
        <th>Single Price</th>
        <th>Total Price</th>
        <th>Remove</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.quantity}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{totalPrice}}</td>
      <td><a (click)="removeProduct(product)"><i class="material-icons">delete</i></a></td>
    </tr>
  </tbody>
</table>
<p></p>
<h1>TOTAL</h1>
<a href="/"><button class="btn">STEP BACK</button></a>
<a><button class="btn my-button-style">RESTART</button></a>
<a><button class="btn my-button-style">BUY</button></a>