<header>
    <div class="navbar-fixed">

<nav class="blue">
  <div class="nav-wrapper">
    <div class="container">
    <a href="#" class="brand-logo">INTERACSIS</a>
      <ul id="nav-mobile" class="right">
        <li><a href="/store">Tienda</a></li>
        <li><a >Categorias</a></li>
        <li><a >Carrito</a></li>
       <li><form>
          <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form></li> 
    </ul>
    </div>
  </div>
  
</nav>
</div>
</header>