<header>
    <div class="navbar-fixed">

<nav class="blue">
  <div class="nav-wrapper">
    <div class="container">
    <a href="#" class="brand-logo">INTERACSIS</a>
      <ul id="nav-mobile" class="right">
      
        <li><a >Categorias</a></li>
        
        <li><a [routerLink]="['/cart']"><i class="large material-icons">add_shopping_cart</i></a></li>
        <li><span class="badge orange">{{nro}}</span></li>
        <li><a [routerLink]="['/product-form']">Agregar Producto</a></li>
        <li><a [routerLink]="['/products']">Editar/Eliminar </a></li>
       <li><form>
          <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </li> 
    </ul>
    </div>
  </div>
  
</nav>
</div>
</header>