<header>
    <div class="navbar-fixed">

<nav class="blue">
  <div class="nav-wrapper">
    <div class="container">
    <a href="/" class="brand-logo">INTERACSIS</a>
      <ul id="nav-mobile" class="right">

        <li><a>Login</a></li>
        
        <li><a [routerLink]="['/cart']"><i class="large material-icons">add_shopping_cart</i></a></li>
        <li><span class="badge orange">{{nro}}</span></li>
        <li><a [routerLink]="['/product-form']">Agregar Producto</a></li>

      
    </ul>
    </div>
  </div>
  
</nav>
</div>
</header>